body {
  background-color: rgb(26, 23, 23);
  color: rgb(242, 233, 233);
}
a {
  text-decoration: none;
}
.App {
  text-align: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.user-photo {
  width: 5rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.repo-list-container {
  width: 75%;
  margin: 0 auto;
}
.repo {
  background-color: #000;
  margin-top: 1rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.repo:hover {
  background-color: rgb(38, 36, 36);
  transition: .25s ease;
}
.repo-name {
  font-size: 1.25rem;
  color: rgb(242, 233, 233);
}