body {
  background-color: rgb(255, 196, 0);
  color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
}
.App {
  text-align: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.user-photo-container {
  display: flex;
  align-items: center;
}
.user-photo {
  width: 5rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.username {
  font-size: 1.5rem;
  font-weight: bold;
}
.repo-list-container {
  width: 75%;
  margin: 0 auto;
}
.repo {
  background-color: #000;
  margin-top: 1rem;
  padding: 1rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.repo:hover {
  background-color: rgb(38, 36, 36);
  transition: .25s ease;
}
.repo-name {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: rgb(242, 233, 233);
}
.description, .date-created {
  color: rgb(242, 233, 233);
}