body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
}
.App {
  text-align: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.user-photo-container {
  display: flex;
  align-items: center;
}
.user-photo {
  width: 5rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.username {
  font-size: 1.5rem;
  font-weight: bold;
}
.repo-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  height: 20rem;
  overflow: scroll;
  box-shadow: inset 0rem 0rem 1rem rgba(0, 0, 0, 0.246);
}
.repo {
  margin: 0 1rem 0 0;
  padding: 1rem;
  width: 40rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  border: .1rem solid rgb(158, 158, 158);
  border-radius: 1rem;
}
.repo:hover {
  transition: .25s ease;
}
.repo-name {
  padding: 0 0 .25rem 0;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-bottom: .1rem solid rgb(158, 158, 158);
}
.description, .date-created {
  color: rgb(0, 0, 0);
}
.vist-btn {
  background-color: rgb(0, 0, 0);
  color: #fff;
  width: 7rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}